django==2.2.22
gunicorn==19.9.0
psycopg2-binary==2.8.3
-i https://pypi.python.org/simple
django-authtools==1.6.0
django-braces==1.13.0
django-crispy-forms==1.7.2
django-environ==0.4.5
pytz==2018.7
django-debug-toolbar==1.11.1
sqlparse==0.2.4
werkzeug==0.15.3
django-extensions==2.2.5
easy-thumbnails==2.7
black
pyupgrade
